@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArtGallery.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container my-5 col-4">
        <h1>
            Log In
        </h1>
        <form method="post" action="/AuthenticateUser">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" name="Email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" name="Password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- Submit button -->
            <div class="row mb-4">
                <input type="submit" value="Log In" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block mb-4"></input>
            </div>

            <div class="text-center">
                <p style="color: red">@ViewBag.Message</p>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a class="dark" href="@Url.Action("Registration","Registration")">Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>